<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= collection_select(:profile,:style_id,@styles,:id,:name, {:prompt => "Escolha um estilo"}, {:class => "company_selection"}) %>
  <%= f.collection_select :instrument_id, @instruments, :id, :name, {:prompt => "Escolha um instrumento"}, {:class=>"contact_selection"} %>  
  </div>
  
  <!-- <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div> -->
  <!-- <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div> -->
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<script>
  $(".company_selection").change(function(){
  var value = $(this).val();
  var path = "/ajax/get_contacts"
  
  $.ajax({
    url: path,
    type: 'GET',
    data: {company_id:value},
    success: function(data){
      $("#products_list").html(data.products)
    }
  })
})
</script>



