		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1><%= @topic.name %></h1>
									</header>
									<span class="image main"><%= image_tag @topic.avatar %></span>
									<p><%= @topic.description %></p>
								</div>
							</section>
							
							<div class="table-wrapper">
							<table class="alt">
								<thead>
									<tr>
										<th>Lista de Aulas</th>
										<th>Descrição</th>
										<th>Assistir</th>
									</tr>
								</thead>
								<tbody>
									<% @topic.lessons.each do |l| %>
							    		<tr>
    										<td><%= l.name %></td>
    										<td><%= l.description %></td>
    									<td><%= link_to "Video", lessonn_path(l) %></td>
    									</tr>
    								<% end %>
								</tbody>
							</table>
						</div>
					</div>

				<!-- Contact -->
				<%= render :partial => "lyris/partials/contact" %>

				<!-- Footer -->
				<%= render :partial => "lyris/partials/footer" %>


			</div>