
		<!-- Wrapper -->
			<div id="wrapper">

				
				
				<!-- Banner -->
                <!-- Note: The "styleN" class below should match that of the header element. -->
                <section id="banner" class="style2">
                	<div class="inner">
                		<span class="image">
                			<%= image_tag  @style.avatar %>
                		</span>
                		<header class="major">
                			<h1><%=  @style.name %></h1>
                		</header>
                		<div class="content">
                			<p><%=  @style.litle_description %>.</br>
                			</p>
                		</div>
                	</div>
                </section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>Um pouco sobre <%= @style.name %></h2>
									</header>
									<p><%= @style.description%></p>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="spotlights">
								
								<% @topics.each do |t| %>
                            
								<%= render :partial => "lyris/partials/block1", locals: {t: t} %>
								
								<% end %>
								
							</section>
					

					</div>


				<!-- Footer -->
					<%= render :partial => "lyris/partials/footer" %>

			</div>

		<!-- Scripts -->

