<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<p>
  <div id = "youtube_video">
      <center><iframe width="560" height="315" src=<%= @lesson.video_url %> frameborder="0" allowfullscreen></iframe></center>
   </div>
</p>

<p>
  <strong>Author:</strong>
  <%= @lesson.author %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @lesson.topic.name %>
</p>

<div>
  <strong>Comments:</strong><br>
  <table>
    <% Comment.where("lesson_id = ?", @lesson.id).select("body, user_id").each do |comment| %>
      <tr>
        <td> <%= comment.user.email %>: </td>
        <td> <%= comment.body %> </td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<br>
<%= render :partial => "comments/form", :locals => {:comment => Comment.new, :lesson => @lesson.id} %>

<%= link_to 'Back', lessons_path %>
