<%= form_for(@profile_has_instrument) do |f| %>
  <% if @profile_has_instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile_has_instrument.errors.count, "error") %> prohibited this profile_has_instrument from being saved:</h2>

      <ul>
      <% @profile_has_instrument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%= f.label :profile_id %><br>
    <%= f.text_field :profile_id %>
  </div> -->
  <!-- <div class="field">
    <%= f.label :instrument_id %><br>
    <%= f.text_field :instrument_id %>
  </div> -->
  <div class="field">
    <%= f.label "Instrument" %><br>
    <select id="instrument_profile_id" name="profile_has_instrument[instrument_id]">
      <option value="" ></option>
      <% @instruments.each do |instrument| %>
        <option value= <%= instrument.id %> > 
          <%= Instrument.find(instrument.id).name %> 
        </option>
      <% end %>
    </select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
