<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile_has_instrument from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   
  
  <%= collection_select(:instrument, 0, @instruments, :id, :name) %>
  
  
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
