<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @profile_has_instrument.profile %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @profile_has_instrument.instrument %>
</p>

<%= link_to 'Edit', edit_profile_has_instrument_path(@profile_has_instrument) %> |
<%= link_to 'Back', profile_has_instruments_path %>
