<!DOCTYPE html>
<html>
<head>
  <title>Liry it</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "lyris/partials/nav" %>


<%= yield %>





<style>
  #banner {
		background-image: url("<%= image_path 'banner.jpg'%>");
  }
</style>

</body>
</html>
